.toolbar {
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  span {
    padding: 24px;
    font-size: 24px;
  }
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #125699;
}

.content {
  padding: 48px;
  .header {
    font-size: 20px;
    font-weight: 600;
  }
}

footer {
  background-color: #1976d2;
  width: 100%;
  color: white;
  padding: 24px;
  text-align: center;
  font-size: 16px;
  .text-with-ic {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
  }
  .ic-github {
    font-size: 26px;
    margin-left: 8px;
  }
  .reference {
    margin-top: 16px;
    div {
      margin-top: 8px;
      font-size: 12px;
    }
  }
}
